
<body>

    <nav class="navbar  navbar-expand-lg navbar-custom">
        <div class="container-sm">
            <div class="container-sm">
                <div class="d-flex justify-content-end align-items-center w-100">
                    <form class="search-container" role="search" >
                        <div class="input-group">
                           <span class="input-group-text">
                            <i class="bi bi-search"></i> 
                            </span>
                        <input class="form-control " type="search" placeholder="Recherche" aria-label="Search">
                        </div>
                    </form>
                </div>
            </div>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link nav-icon-text" href="#home">
                            <i class="bi bi-house nav-icon"></i>
                            <span class="nav-text">Accueil</span>
                        </a>
                    <li class="nav-item">
                        <a class="nav-link nav-icon-text" href="#features">
                            <i class="bi-map nav-icon"></i>
                            <span class="nav-text">Projets</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-icon-text" href="#about">
                            <i class="bi-calendar-event nav-icon"></i>
                            <span class="nav-text"><span> Calendrier</span></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-icon-text" href="#about">
                            <i class="bi-cash-stack nav-icon"></i>
                            <span class="nav-text"><span>Financements</span></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-icon-text" href="#about">
                            <i class="bi-newspaper nav-icon"></i>
                            <span class="nav-text"><span>Actualités</span></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-icon-text" href="#about">
                            <i class="bi-telephone nav-icon"></i>
                            <span class="nav-text"><span>Contact</span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container-sm" >
                <div class="d-flex justify-content-end align-items-center w-100">
                    <button class="btn btn-outline-light me-2" type="button" style='border:none'>Connexion</button>
                </div>
            </div>
        </div>
   
    </nav>


</body>



