<app-navbar-principale/>

<body>
  <div class="container my-5">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
          <div class="col taille">
              <div class="card h-100 shadow-sm">
                
                
    <div class="container">
      <h2>{{ isEditMode ? 'Modifier le Projet' : 'Créer un Nouveau Projet' }}</h2>
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Nom du Projet</label>
          <input id="name" formControlName="name" class="form-control" />
        </div>
    
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" formControlName="description" class="form-control"></textarea>
        </div>
    
        <div class="form-group">
          <label for="location">Localisation</label>
          <input id="location" formControlName="location" class="form-control" />
        </div>
    
        <div class="form-group">
          <label for="start_date">Date de début</label>
          <input id="start_date" formControlName="start_date" type="date" class="form-control" />
        </div>
    
        <div class="form-group">
          <label for="end_date">Date de fin</label>
          <input id="end_date" formControlName="end_date" type="date" class="form-control" />
        </div>
    
        <div class="form-group">
          <label for="budget">Budget</label>
          <input id="budget" formControlName="budget" type="number" class="form-control" />
        </div>
  

        <div class="form-group">
          <label for="contractor">Entreprise Prestataire</label>
          <select id="contractor" formControlName="contractor" class="form-control">
            <option *ngFor="let prestataire of prestatairesFiltre" [value]="prestataire.id">
              {{ prestataire.nom_entreprise}}
            </option>
          </select>
        </div>

    
        <div class="form-group">
          <label for="status">Statut</label>
          <select id="status" formControlName="status" class="form-control">
            <option value="Planning">Planning</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
          </select>
        </div>
    
        <div class="form-group">
          <label for="geo_coordinates">Coordonnées Géographiques</label>
          <textarea id="geo_coordinates" formControlName="geo_coordinates" class="form-control"></textarea>
        </div>
    
        <div class="form-group">
          <label for="progress">Progrès (%)</label>
          <input id="progress" formControlName="progress" type="number" class="form-control" />
        </div>
    
        <button type="submit" class="btn btn-primary" [disabled]="projectForm.invalid">
          {{ isEditMode ? 'Mettre à jour' : 'Créer' }}
        </button>
      </form>
    </div>
    

              </div>
          </div>
      </div>
  </div>

</body>