

<nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container" style='display:inline-flex;'> 
                <div class=" d-flex justify-content-end align-items-center w-100">
                    <form class=" search-container" role="search" >
                        <div class="input-group">
                           <span class="input-group-text">
                            </span>
                            <input class="form-control " type="search" placeholder="Recherche" aria-label="Search">
                        </div>
                    </form>


                   
                   <div class="collapse navbar-collapse " id="navbarNav" style='padding-left:50px;'>
                        <ul class="navbar-nav ">
                            <li class="nav-item">
                                <a class="nav-link nav-icon-text" href="#home">
                                    <span class="nav-text">Accueil </span>
                                </a>
                            <li class="nav-item">
                                <button class="nav-link nav-icon-text" (click)='ngProjetVisible()'>
                                    <span class="nav-text">Projets en cours</span>
                                </button>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link nav-icon-text" >
                                  <span class="nav-text">Histories</span>
                              </a>
                          </li>
                            <li class="nav-item">
                              <a class="nav-link nav-icon-text" href="#about">
                                  <span class="nav-text"><span>Questions</span></span>
                              </a>
                          </li>
                            <li class="nav-item">
                                <a class="nav-link nav-icon-text" href="#about">
                                    <span class="nav-text"><span>Contact</span></span>
                                </a>
                            </li>
                        </ul>

                        <div style="padding-left: 100px;">
                            <div *ngIf="userInfo?.email; else loginTemplate">
                              <div 
                                class="dropdown"
                                (mouseenter)="showDropdown()" 
                                (mouseleave)="hideDropdown()"
                              >
                                <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false">
                                  <i class="bi bi-person-fill"></i>
                                </a>
                                <span class="dropdown-item">{{ userInfo?.firstName }} {{ userInfo?.lastName }}</span>
                          
                                <!-- Menu de déconnexion -->
                                <ul 
                                  class="dropdown-menu show" 
                                  *ngIf="isDropdownOpen"
                                >
                                  <li>
                                    <button class="dropdown-item" (click)="onLogout()">
                                      <i class="bi bi-power"></i>
                                      <span style="padding-left: 5px;" >Déconnexion</span>
                                    </button>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          
                            <ng-template #loginTemplate>
                              <div class="container">
                                <div class="d-flex">
                                  <button class="btn btn-warning me-2" type="button" style="border: none;" (click)='routerConnexion()'>
                                    Connexion
                                  </button>
                                </div>
                              </div>
                            </ng-template>
                          </div>
                          
                       

                    </div>
            </div>
        </div>
    </nav>

    <div class='container'>
      <div *ngIf='projetListVisible==true'>
        <app-list-projets/>
       </div>
    </div>


    



