



<div class="container-fluid">
  <div class="row">
    <nav class="col-2 bg-light text-black  d-flex flex-column">
      <h5 class="text-center my-4">Dashbord-Prestataire</h5>
      <ul class="nav flex-column">
        <li class="nav-item btn text-start">
          <a class="nav-link text-black" (click)='ngCitoyenVisible()' >Citoyens</a>
        </li>

        <li class="nav-item btn text-start">
          <a class="nav-link text-black" (click)='ngProjetVisible()'>Nos projets </a>
        </li>
        <li class="nav-item btn text-start">
          <a class="nav-link text-black" (click)='ngHistorieVisible()'>Histories </a>
        </li>
        <li class="nav-item btn text-start">
          <a class="nav-link text-black" (click)='ngAvisVisible()' >Les avis</a>
        </li>
      </ul>
    </nav>
    <main class="col-10">
      <div class="bg-light p-3 border-bottom">

          <div class="row d-flex align-items-center justify-content-between" *ngIf='citoyenVisible'>
              <div class="col">
                  <h4 class="text-left">Les citoyens disponibles</h4>
              </div>
          </div> 
          <div class="row d-flex align-items-center justify-content-between" *ngIf='projetVisible'>
              <div class="col">
                  <h4 class="text-left">Les projets disponibles</h4>
              </div>
          </div>
          <div class="row d-flex align-items-center justify-content-between" *ngIf='historieVisible'>
            <div class="col">
                <h4 class="text-left">Tous nos projets</h4>
            </div>
        </div>
          <div class="row d-flex align-items-center justify-content-between" *ngIf='avisVisible' >
              <div class="col">
                  <h4 class="text-left">Les avis disponibles</h4>
              </div>
          </div>  
      </div>
  </main>

</div>